@model Code.Models.Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Display Student Details -->
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <!-- Display Student Details (Nested) -->
        @if (Model.StudentDetails != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.StudentDetails.FatherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentDetails.FatherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StudentDetails.MotherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentDetails.MotherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StudentDetails.NumOfSiblings)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentDetails.NumOfSiblings)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
