@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Old Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("oldPassword", null, new { @class = "form-control" })
                @Html.ValidationMessage("oldPassword", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("newPassword", null, new { @class = "form-control" })
                @Html.ValidationMessage("newPassword", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("confirmPassword", null, new { @class = "form-control" })
                @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset Password" class="btn btn-default" />     @Html.ActionLink("Back", "Profile")

            </div>
        </div>
    </div>
}