@{
    ViewBag.Title = "Display";
}

<h2>Submitted Data</h2>

<div class="form-group">
    <label>Number</label>
    <p>@ViewBag.ID</p>
</div>
<div class="form-group">
    <label> Name</label>
    <p>@ViewBag.Name</p>
</div>
<div class="form-group">
    <label>Gender</label>
    <p>@ViewBag.Gender</p>
</div>
<div class="form-group">
    <label>Category</label>
    <p>@ViewBag.Category</p>
</div>
<div class="form-group">
    <label>Preferences</label>
    <p>
        @foreach (var preference in ViewBag.Preferences)
        {
            <span>@preference</span><br />
        }
    </p>
</div>